body {
   font-family: sans-serif;
   padding: 20px;
   position: relative;
  -webkit-print-color-adjust: exact;
}
h4 {
    text-align: center;
    margin: 1em 0 1.5em;
    font-size: 1.5em;
}
.chart-container,
.chart-legend {
    padding: 10px 0;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}
ul.legend {
    list-style: none;
    margin: 10px 0 0 4px;
    padding: 0;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
}
ul.legend li {
    padding: 8px 10px;
}
ul.legend li span{
    width: 25px;
    height: 10px;
    display: inline-block;
    margin-right: 8px;
}
  
